<div class="menu">
    <ul>
        <li><a href="/page-register">Inscription</a></li>
        <li><a href="/page-login">Connexion</a></li>
        <li><a href="/page-list">Liste des utilisateurs</a></li>
    </ul>
</div>